.main {
  padding-top: 25px;
}

.main__title {
  font-size: 45px;
  text-align: center;
}

.metrics__list {
  display: flex;
  flex-direction: column;
  margin: 0 50px;
  list-style-type: none;
}

.metrics__item {
  padding: 25px 0;
}

.metrics__item span {
  margin-right: 15px;
}